@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap');
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;

}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('http://www.downgraf.com/wp-content/uploads/2014/09/01-progress.gif?e44397') 50% 50% no-repeat rgb(249, 249, 249);
}

:root {
    --green: #0F8807;
    --yellow: #D7D81B;
    --white: white;
}

p {
    font-size: 20px;
}

span {
    color: var(--green);
}

.main {
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: url(https://gogil.aimcomely.com/webassets/images/banner.png);
    background-size: cover;
    background-position: top;
    gap: 150px;



}
.summary p{
    padding: 10px;
    border-left: 2px solid #0F8807;
    border-right: 2px solid #0F8807;
}


.box {
    width: 500px;
    min-height: 40vh;
    margin-top: 4%;
}


.box-right {
    width: 233px;
    height: 471px;
    margin: 4%;
    position: relative;

}
.box-right img {
    width: 100%;
    height: 100%;
    position: absolute;
    animation-name: ani;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition: 0.3s linear;
}
@keyframes ani {
    10%{
       transform: rotate(5deg);
    }
    100%{
        transform: rotate(-5deg);
    }
}


.box h1 {
    margin-top: 13vh;
    font-size: 3rem;
}

Nav {
    font-size: 24px;
    background-color: var(--white);
    box-shadow: rgba(132, 150, 179, 0.2) 0px 2px 8px 0px;

}
.brand img:hover{
transform: scale(1.2);
transition: 0.3s linear;
}
.summary p::first-line{
    color: brown;
}

nav a {
    text-align: center;
}

.box button {
    width: 150Px;
    height: 60px;
    background-color: var(--green);
    border-radius: 8px;
    margin-top: 10px;
    border: none;
    font-size: 22px;
    color: var(--white);

}
.box button a{
    text-decoration: none;
    color: var(--yellow);
}
button a:hover{
    color: var(--green);
}
button{
    transition: 0.4s linear;
}

.btnnew {
    width: 120px;
    height: 40px;
    background-color: var(--green);
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    font-size: 20px;
    color: var(--white);

}
.btnnew a{
    text-decoration: none;
    color: var(--yellow);
}



.btn-3 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.btn-3 button {
    width: 250Px;
    min-height: 100px;
    background-color: var(--green);
    border-radius: 8px;
    margin-top: 10px;
    border: none;
    color: var(--yellow);
    font-size: 2rem;
    margin-bottom: 30px;
}

.About {
    width: 100%;
    display: flex;
    min-height: 60vh;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;

}
#about{
    background-image: url(https://gogil.aimcomely.com/webassets/images/sideimgtwo.png);
    background-repeat: no-repeat;
    background-position: right;
    
}

.About-box1 {
    width: 450px;
    height: 500px;
    margin-top: 110px;
}

.About-box {
    width: 750px;
    min-height: 60vh;
}

.About-box1 img {
    width: 100%;
    height: 100%;
}

.boxflex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.box-4 {
    width: 320px;
    min-height: 250px;
    margin: 3%;
    padding: 5px;
    border-radius: 30px;
    box-shadow: 2px 2px 25px #cecece;

}
.box-4 i{
    margin-left: 40%;
     font-size: 4rem;
     margin-top: 10px;
 }
.box-4:hover{
    transform: scale(1.1);
    transition: 0.3s linear;
}
.box-4 h2 {
    margin-top: 10px;
    text-align: center;
    color: var(--green);
}

.box-4 p {
    padding: 10px;
}

.box-para {
    width: 750px;
    min-height: 40vh;
    margin: 4%
}

.box-2 {
    width: 233px;
    height: 471px;
    margin: 4%
}

.box-2 img {
    width: 100%;
    height: 100%;
    animation-name: ani;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition: 0.3s linear;
}



.review {
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;

}

.card-3 {
    width: 330px;
    min-height: 250px;
    background-color: var(--white);
    border-left: 80px solid green;
    margin: 3%;
    box-shadow: 0px 0px 2px var(--white);
    border-radius: 20px;
    position: relative;
    box-shadow: 2px 2px 25px #cecece;
}
.card-3:hover{
   transform: scale(1.1);
   transition: 0.4s linear;
}

.profile {
    width: 85px;
    height: 85px;
    background-color: var(--white);
    border-radius: 50%;
    border: 3px solid var(--yellow);
    position: absolute;
    bottom: 40%;
    right: 98%;



}

.profile img {
    width: 100%;
    height: 100%;
}

footer {
    width: 100%;
    min-height: 30vh;
    background-color: var(--yellow);
}

img {
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
}

button:hover {
    background-color: var(--white);
    color: var(--green);
    border: 2px solid var(--green);
}

.privacy {
    width: 100%;
    height: 50vh;
    background-color: var(--yellow);
    margin-top: 5vh;
    border: 1px solid transparent;
}

.summary h1 {
    font-family: sans-serif;
}

.summary p {
    font-family: sans-serif;
    font-size: 16px;
    text-align: justify;
}

.terms {
    width: 100%;
    height: 50vh;
    background-color: var(--yellow);
    margin-top: 5vh;
    border: 1px solid transparent;
}

.terms h1 {
    margin: 20vh;
    text-align: center;
}
.heart{
    font-size: 2rem;
    color: black;
    animation: heart 10s infinite ;
    transition: 0.3s linear;
}
@keyframes heart {
    10%{
        color: green;

    }
    40%{
        color: pink;

    }
    70%{
        color: red;
    }
    85%{
        color: blue;
    }

    100%{
color: blueviolet;
    }
}


@media screen and (max-width: 700px) {
    .box-4 {
        width: 100%;
    }

    .card-3 {
        width: 100%;

    }

    p {
        text-align: center;
    }
    .About-box1 {
        width: 450px;
        height: 400px;
    }

    .box-right {
        display: none;
    }


    .main {
        min-height: 50vh;
    }

    .box {
        text-align: center;
    }
    .About-box1{
        margin-top: 0px;
    }
    #feature{
        margin-top: 40px;
    }
    .box-4:hover{
        transform: scaleY(1.1);
        transition: 0.3s linear;
    }

}
@media screen and (max-width: 1200px){
    .About-box1{
        margin-top: 5px;
    }
    #feature{
        margin-top: 40px;
    }
}
